.theme-entry .form{
top: 0px;
left: 0px;
width: 1366px;
height: 768px;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box;
background: #EBF3FD 0% 0% no-repeat padding-box;
opacity: 1;
}

[name='Table20']{
top: 241px !important;
left: 590px !important;
width: 515px !important;
height: 222px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 0px 0px 15px 15px !important;
opacity: 1;
}

[name='V1'] {
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 653px !important;
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}
