[name='form1']{
position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 768px !important;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box !important;
background: #EBF3FD 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='V1'] {
position: fixed !important;
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 653px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}
[name='V2'] {
position: relative !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 80px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name='Label1_1']{
position: fixed !important;
top: 115px !important;
left: 976px !important;
width: 129px !important;
height: 39px !important;
/* UI Properties */
color: var(--unnamed-color-004687) !important;
text-align: right !important;
font: normal normal bold 23px/39px SWCC !important;
letter-spacing: 0.46px !important;
color: #004687 !important;
opacity: 1 !important;
}

[name="Table4_303"]{
position: fixed !important;
top: 272px !important;
left: 590px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name='Table2']{
position: fixed !important;
left:920px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}
[name='Table1']{
position: fixed !important;
top: 187px !important;
left: 710px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}
[name='Table']{
position: fixed !important;
left: 500px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}





.panel-header {
   display: none !important;
}

