[name='form1']{
position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 768px !important;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box !important;
background: #EBF3FD 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='V1'] {
position: fixed !important;
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 653px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}
[name='V2'] {
    position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 80px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}


[name='Table2']{
position: fixed !important;
left:920px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}
[name='Table1']{
position: fixed !important;
top: 187px !important;
left: 710px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}
[name='Table']{
position: fixed !important;
left: 500px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}
[name='Picture1']{
    position: fixed !important;
top: 14px !important;
left: 1143px !important;
width: 181px !important;
height: 51px !important;
/* UI Properties */
background: transparent url('img/swcc-logo.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name='Picture2']{
    position: fixed !important;
top: 20px !important;
left: 260px !important;
width: 40px !important;
height: 40px !important;
/* UI Properties */
background: transparent url('img/notification_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='Picture']{
    position: fixed !important;
top: 14px !important;
left: 147px !important;
width: 52px !important;
height: 52px !important;
/* UI Properties */
background: transparent url('img/User_photo.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name='Label']{
    position: fixed !important;
top: 23px !important;
left: 40px !important;
width: 94px !important;
height: 34px !important;
color: var(--unnamed-color-0066cc) !important;
text-align: right !important;
font: normal normal bold 20px/34px SWCC !important;
letter-spacing: 0.4px !important;
color: #0066CC !important;
opacity: 1 !important;
}

[name='Table-123']{
    position: fixed !important;
top: 22px !important;
left: 480px !important;
width: 625px !important;
height: 37px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 10px #0066CC40 !important;
border-radius: 10px !important;
opacity: 1 !important;
}
[name='Label1_1']{
position: fixed !important;
top: 115px !important;
left: 976px !important;
width: 129px !important;
height: 39px !important;
/* UI Properties */
color: var(--unnamed-color-004687) !important;
text-align: right !important;
font: normal normal bold 23px/39px SWCC !important;
letter-spacing: 0.46px !important;
color: #004687 !important;
opacity: 1 !important;
}
[name='Label1']{
position: fixed !important;
top: 27px !important;
left: 915px !important;
width: 170px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-c9c9c9) !important;
text-align: right !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #C9C9C9 !important;
opacity: 1 !important;
}

[name="Picture3"]{
position: fixed !important;
top: 30px !important;
left: 500px !important;
width: 20px !important;
height: 20px !important;
/* UI Properties */
background: transparent url('img/search_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name="Label2"]{
    position: fixed !important;
    top: 196px !important;
left: 1032px !important;
width: 59px !important;
height: 34px !important;
/* UI Properties */
color: var(--unnamed-color-f96523) !important;
text-align: right !important;
font: normal normal bold 20px/34px SWCC !important;
letter-spacing: 0.4px !important;
color: #F96523 !important;
opacity: 1 !important;
}

[name="Label4"]{
    position: fixed !important;
    top: 196px !important;
left: 824px !important;
width: 57px !important;
height: 34px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 20px/34px SWCC !important;
letter-spacing: 0.4px !important;
color: #505050 !important;
opacity: 1 !important;
}

[name="Label6"]{
    position: fixed !important;
    top: 196px !important;
left: 600px !important;
width: 71px !important;
height: 34px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 20px/34px SWCC !important;
letter-spacing: 0.4px !important;
color: #505050 !important;
opacity: 1 !important;
}

[name="Table6_c"]{
    position: fixed !important;
    top: 196px !important;
left: 940px !important;
width: 34px !important;
height: 34px !important;
    border-radius: 50% !important;
/* UI Properties */
background: var(--unnamed-color-f96523) 0% 0% no-repeat padding-box !important;
background: #F96523 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name="Table5_b"]{
    position: fixed !important;
    top: 196px !important;
left: 730px !important;
width: 34px !important;
height: 34px !important;
    border-radius: 50% !important;
/* UI Properties */
background: var(--unnamed-color-f96523) 0% 0% no-repeat padding-box !important;
background: #F96523 0% 0% no-repeat padding-box !important;
opacity: 0.21 !important;
}
[name="Table4_a"]{
    position: fixed !important;
    top: 196px !important;
left: 520px !important;
width: 34px !important;
height: 34px !important;
    border-radius: 50% !important;
/* UI Properties */
background: var(--unnamed-color-f96523) 0% 0% no-repeat padding-box !important;
background: #F96523 0% 0% no-repeat padding-box !important;
opacity: 0.21 !important;
}






.panel-header {
    display: none !important;
}

