.theme-entry .form{
top: 0px;
left: 0px;
width: 1366px;
height: 768px;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box;
background: #EBF3FD 0% 0% no-repeat padding-box;
opacity: 1;
}

[id=8eab8788-ec89-46c6-ae09-2f09c4748a79_c904b67b-905e-db02-2c06-5a56c738fa21_d8ff47df-11a3-0568-2433-4fa54d9fda94_c25d9f41-49ec-489b-8738-4e4e94e15ace] {
top: 115px;
left: 1140px;
width: 226px;
height: 653px;
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box;
background: #0066CC 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC80;
border-radius: 15px 0px 0px 0px;
opacity: 1;
}
