[name="Table3"]{
position: absolute !important;
top: 115px !important;
left: 976px !important;
width: 129px !important;
height: 39px !important;
}

[name='Label1_1']{
position: absolute !important;
top: 115px !important;
left: 976px !important;
width: 129px !important;
height: 39px !important;
/* UI Properties */
color: var(--unnamed-color-004687) !important;
text-align: right !important;
font: normal normal bold 23px/39px SWCC !important;
letter-spacing: 0.46px !important;
color: #004687 !important;
opacity: 1 !important;
}