[name="form1"]{
position: fixed !important;
top: 0px !important;
left: 0px !important;
height: 1270px !important;
width: 1366px !important;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box !important;
background: #EBF3FD 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}


[name='V1'] { 
position: fixed !important;
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 1155px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}

[name="Table4"]{
   position: fixed !important;
   top: 137px !important;
left: 1155px !important;
width: 155px !important;
height: 262px !important;
/* UI Properties */
text-align: right !important;
letter-spacing: NaNpx !important;
opacity: 1 !important;
}

[name='Label5_11']{
   position: absolute !important;
   top: 0px !important;
left: 2px !important;
width: 153px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-ffffff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #FFFFFF !important;
}

[name='Label6_11']{
   position: absolute !important;
   top: 34px !important;
left: 54px !important;
width: 101px !important;
height: 25px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal medium 15px/33px SWCC !important;
letter-spacing: 0.3px !important;
color: #A7CFFF !important;
}

[name='Label7_11']{
   position: absolute !important;
   top: 67px !important;
left: 52px !important;
width: 103px !important;
height: 25px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal medium 15px/33px SWCC !important;
letter-spacing: 0.3px !important;
color: #A7CFFF !important;
}

[name='Label8_11']{
   position: absolute !important;
   top: 100px !important;
left: 86px !important;
width: 69px !important;
height: 25px !important;
/* UI Properties */
color: var(--unnamed-color-ffffff) !important;
text-align: right !important;
font: normal normal medium 15px/33px SWCC !important;
letter-spacing: 0.3px !important;
color: #FFFFFF !important;
}

[name='Label9_11']{
   position: absolute !important;
   top: 165px !important;
left: 53px !important;
width: 102px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #A7CFFF !important;
}

[name='Label10_11']{
   position: absolute !important;
   top: 231px !important;
left: 100px !important;
width: 55px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #A7CFFF !important;
}

[name='Picture4_a']{
    position: absolute !important;
   top: 137px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
background: transparent url('img/menu_investigations_icon_selected.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='Picture5_b']{
position: absolute !important;
top: 301px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
  background: transparent url('img/menu_legal_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='Picture6_c']{
position: absolute !important;
top: 367px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
background: transparent url('img/menu_government_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
   
}



[name='V2'] {
position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 80px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name="Table9"]{
   position: fixed !important;
   top: 187px !important;
left: 590px !important;
width: 515px !important;
height: 46px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px 15px 0px 0px !important;
opacity: 1 !important;
}

[name="Table-123"]{
   position: fixed !important;
   top: 22px !important;
left: 480px !important;
width: 625px !important;
height: 37px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 10px #0066CC40 !important;
border-radius: 10px !important;
opacity: 1 !important;
}

[name="Label1"]{
   position: fixed !important;
   top: 27px !important;
left: 915px !important;
width: 170px !important;
height: 27px !important; 
/* UI Properties */
color: var(--unnamed-color-c9c9c9) !important;
text-align: right !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #C9C9C9 !important;
opacity: 1 !important;
}

[name="Picture3"]{
   position: fixed !important;
   top: 30px !important;
left: 500px !important;
width: 20px !important;
height: 20px !important;
/* UI Properties */
background: transparent url('img/search_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name="Table4_00"]{
position: fixed !important;
top: 187px !important;
left: 40px !important;
width: 515px !important;
height: 46px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px 15px 0px 0px !important;
opacity: 1 !important;
}

[name="Table20"]{
   position: fixed !important;
   top: 241px !important;
left: 590px !important;
width: 515px !important;
height: 222px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 0px 0px 15px 15px !important;
opacity: 1 !important;
}

[name="Table10"]{
   position: fixed !important;
   top: 242px !important;
left: 40px !important;
width: 515px !important;
height: 222px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 0px 0px 15px 15px !important;
opacity: 1 !important;
}

[name="Table12"]{
   position: fixed !important;
   top: 498px !important;
left: 40px !important;
width: 1065px !important;
height: 46px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px 15px 0px 0px !important;
opacity: 1 !important;
}

[name="Table38"]{
   position: fixed !important;
   top: 552px !important;
left: 40px !important;
width: 1065px !important;
height: 267px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 0px 0px 15px 15px !important;
opacity: 1 !important;
}

[name="Table23"]{
   position: fixed !important;
   top: 854px !important;
left: 40px !important;
width: 1065px !important;
height: 46px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px 15px 0px 0px !important;
opacity: 1 !important;
}
[name="Table24"]{
   position: fixed !important;
   top: 908px !important;
left: 40px !important;
width: 1065px !important;
height: 223px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 0px 0px 15px 15px !important;
opacity: 1 !important;
}
[name="Table31"]{
   position: fixed !important;
   top: 1177px !important;
left: 480px !important;
width: 185px !important;
height: 42px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 30px !important;
opacity: 1 !important;
}

[name='Label_444']{
   position: fixed !important;
   top: 115px !important;
left: 962px !important;
width: 143px !important;
height: 39px !important;
/* UI Properties */
color: var(--unnamed-color-8e8e8e) !important;
text-align: right !important;
font: normal normal bold 23px/39px SWCC !important;
letter-spacing: 0.46px !important;
color: #8E8E8E !important;
opacity: 1 !important;
}

[name='Label22']{
   position: fixed !important;
top: 115px !important;
left: 750px !important;
width: 224px !important;
height: 39px !important;
color: var(--unnamed-color-004687) !important;
text-align: right !important;
font: normal normal bold 23px/39px SWCC !important;
letter-spacing: 0.46px !important;
color: #004687 !important;
opacity: 1 !important;
}


[name="Table3"]{
position: fixed !important;
top: 115px !important;
left: 738px !important;
width: 367px !important;
height: 39px !important;
}

[name='Table16']{
   position: fixed !important;
   top: 579px !important;
left: 625px !important;
width: 405px !important;
height: 207px !important;
/* UI Properties */
border: 1px solid #BEBEBE !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name='Table17']{
   position: fixed !important;
   top: 579px !important;
left: 115px !important;
width: 405px !important;
height: 207px !important;
/* UI Properties */
border: 1px solid #BEBEBE !important;
border-radius: 15px !important;
opacity: 1 !important;
}


[name='Table25']{
position: fixed !important;
top: 908px !important;
left: 40px !important;
width: 532px !important;
height: 223px !important;
}

[name='Table26']{
position: fixed !important;
top: 908px !important;
left:573px !important;
width: 532px !important;
height: 223px !important;
   
}

[name='Label49']{
position: fixed !important;
top: 328px !important;
left: 620px !important;
width: 455px !important;
height: 114px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #505050 !important;
opacity: 1 !important;
}

[name='Label45']{
position: fixed !important;
top: 1000px !important;
left: 620px !important;
width: 455px !important;
height: 114px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #505050 !important;
opacity: 1 !important;
}

[name='Label39']{
position: fixed !important;
top: 1000px !important;
left: 70px !important;
width: 455px !important;
height: 114px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #505050 !important;
opacity: 1 !important;
}

[name='Label48']{
   position: fixed !important;
   top: 301px !important;
left: 998px !important;
width: 77px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-8e8e8e) !important;
text-align: right !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #8E8E8E !important;
opacity: 1 !important;
}

[name='Label44']{
   position: fixed !important;
   top: 973px !important;
left: 1028px !important;
width: 47px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-8e8e8e) !important;
text-align: right !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #8E8E8E !important;
opacity: 1 !important;
}

[name='Label38']{
   position: fixed !important;
   top: 973px !important;
left: 478px !important;
width: 47px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-8e8e8e) !important;
text-align: right !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #8E8E8E !important;
opacity: 1 !important;
}

[name='Table1_1234']{
position: fixed !important;
top: 301px !important;
left: 998px !important;
width: 80px !important;
height: 27px !important;
}

[name='Label47']{
   position: fixed !important;
   top: 256px !important;
left: 935px !important;
width: 140px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-505050) !important;
text-align: right !important;
font: normal normal bold 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #505050 !important;
opacity: 1 !important;
}



[name='Label9']{
   position: fixed !important;
   top: 192px !important;
left: 917px !important;
width: 158px !important;
height: 36px !important;
/* UI Properties */
color: var(--unnamed-color-0066cc) !important;
text-align: right !important;
font: normal normal bold 21px/36px SWCC !important;
letter-spacing: 0.42px !important;
color: #0066CC !important;
opacity: 1 !important;
}
[name='Label11']{
    position: fixed !important;
   top: 192px !important;
left: 453px !important;
width: 72px !important;
height: 36px !important;
   color: var(--unnamed-color-0066cc) !important;
text-align: right !important;
font: normal normal bold 21px/36px SWCC !important;
letter-spacing: 0.42px !important;
color: #0066CC !important;
opacity: 1 !important;
}


[name='Label1_09']{
    position: fixed !important;
   top: 503px !important;
left: 956px !important;
width: 119px !important;
height: 36px !important;
   color: var(--unnamed-color-0066cc) !important;
text-align: right !important;
font: normal normal bold 21px/36px SWCC !important;
letter-spacing: 0.42px !important;
color: #0066CC !important;
opacity: 1 !important;
}


[name='Label34']{
    position: fixed !important;
   top: 859px !important;
left: 903px !important;
width: 172px !important;
height: 36px !important;
   color: var(--unnamed-color-0066cc) !important;
text-align: right !important;
font: normal normal bold 21px/36px SWCC !important;
letter-spacing: 0.42px !important;
color: #0066CC !important;
opacity: 1 !important;
}

[name='Cell53']{
position: fixed !important;
top: 192px !important;
left: 917px !important;
width: 158px !important;
height: 36px !important;
}

[name='Label10']{
position: fixed !important;
top: 192px !important;
left: 620px !important;
width: 80px !important;
height: 34px !important;
color: var(--unnamed-color-004687) !important;
text-align: left !important;
font: normal normal bold 20px/34px SWCC !important;
letter-spacing: 0.4px !important;
color: #004687 !important;
opacity: 1 !important;
}

[name='Table13']{
position: fixed !important;
top: 198px !important;
left: 72px !important;
width: 84px !important;
height: 27px !important;
opacity: 1 !important;
}

[name='Label24']{
position: fixed !important;
top: 198px !important;
left: 72px !important;
width: 60px !important;
height: 27px !important;
color: var(--unnamed-color-0066cc) !important;
text-align: center !important;
font: normal normal medium 16px/27px SWCC !important;
letter-spacing: 0.32px !important;
color: #0066CC !important;
opacity: 1 !important;
}

[name='Picture9']{
position: fixed !important;
top: 204px !important;
left: 140px !important;
width: 16px !important;
height: 16px !important;
/* UI Properties */
background: transparent url('img/download_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}





.panel-header {
   display: none !important;
}


