[name="form1"]{
position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 1270px !important;
/* UI Properties */
background: var(--unnamed-color-ebf3fd) 0% 0% no-repeat padding-box !important;
background: #EBF3FD 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}


[name='V1'] { 
position: fixed !important;
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 1155px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}
[name='V2'] {
position: fixed !important;
top: 0px !important;
left: 0px !important;
width: 1366px !important;
height: 80px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}

[name="Table9"]{
   position: fixed !important;
   top: 187px;
left: 590px;
width: 515px;
height: 46px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 15px 15px 0px 0px;
opacity: 1;
}

[name="Table4"]{
position: fixed !important;
top: 187px;
left: 40px;
width: 515px;
height: 46px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 15px 15px 0px 0px;
opacity: 1;
}

[name="Table20"]{
   position: fixed !important;
   top: 241px;
left: 590px;
width: 515px;
height: 222px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 0px 0px 15px 15px;
opacity: 1;
}

[name="Table10"]{
   position: fixed !important;
   top: 242px;
left: 40px;
width: 515px;
height: 222px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 0px 0px 15px 15px;
opacity: 1;
}

[name="Table12"]{
   position: fixed !important;
   top: 498px;
left: 40px;
width: 1065px;
height: 46px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 15px 15px 0px 0px;
opacity: 1;
}

[name="Table38"]{
   position: fixed !important;
   top: 552px;
left: 40px;
width: 1065px;
height: 267px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 0px 0px 15px 15px;
opacity: 1;
}

[name="Table23"]{
   position: fixed !important;
   top: 854px;
left: 40px;
width: 1065px;
height: 46px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 15px 15px 0px 0px;
opacity: 1;
}
[name="Table24"]{
   position: fixed !important;
   top: 908px;
left: 40px;
width: 1065px;
height: 223px;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC40;
border-radius: 0px 0px 15px 15px;
opacity: 1;
}
[name="Table31"]{
   position: fixed !important;
   top: 1177px;
left: 480px;
width: 185px;
height: 42px;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box;
background: #0066CC 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #0066CC80;
border-radius: 30px;
opacity: 1;
}











.panel-header {
   display: none !important;
}
