[name='Table1']{
position: absolute !important;
top: 187px !important;
left: 710px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}

[name='Table2']{
position: absolute !important;
left:920px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}

[name='Table_009']{
position: absolute !important;
left: 500px !important;
top: 187px !important;
width: 185px !important;
height: 51px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 10px 10px 2px 2px !important;
opacity: 1 !important;
}

[name="Table4_303"]{
position: absolute !important;
top: 272px !important;
left: 590px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name="Table6_1"]{
   position: absolute !important;
   top: 272px !important;
left: 40px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name="Table5_12"]{
   position: absolute !important;
   top: 473px !important;
left: 590px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name='Table7_11']{
   position: absolute !important;
   top: 473px !important;
left: 40px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}
