[name='V1'] { 
position: absolute !important;
top: 115px !important;
left: 1140px !important;
width: 226px !important;
height: 653px !important;
/* UI Properties */
background: var(--unnamed-color-0066cc) 0% 0% no-repeat padding-box !important;
background: #0066CC 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC80 !important;
border-radius: 15px 0px 0px 0px !important;
opacity: 1 !important;
}
[name="Table4"]{
   position: absolute !important;
   top: 137px !important;
left: 1155px !important;
width: 155px !important;
height: 262px !important;
/* UI Properties */
text-align: right !important;
letter-spacing: NaNpx !important;
opacity: 1 !important;
}

[name='Label5_11']{
    position: absolute !important;
   top: 0px !important;
left: 2px !important;
width: 153px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-ffffff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #FFFFFF !important;
}

[name='Label6_11']{
    position: absolute !important;
   top: 34px !important;
left: 54px !important;
width: 101px !important;
height: 25px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal medium 15px/33px SWCC !important;
letter-spacing: 0.3px !important;
color: #A7CFFF !important;
}

[name='Table7_11']{
   position: absolute !important;
   top: 473px !important;
left: 40px !important;
width: 515px !important;
height: 166px !important;
/* UI Properties */
background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 0px 15px #0066CC40 !important;
border-radius: 15px !important;
opacity: 1 !important;
}

[name='Label8_11']{
   position: absolute !important;
   top: 100px !important;
left: 86px !important;
width: 69px !important;
height: 25px !important;
/* UI Properties */
color: var(--unnamed-color-ffffff) !important;
text-align: right !important;
font: normal normal medium 15px/33px SWCC !important;
letter-spacing: 0.3px !important;
color: #FFFFFF !important;
}

[name='Label9_11']{
    position: absolute !important;
   top: 165px !important;
left: 53px !important;
width: 102px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #A7CFFF !important;
}

[name='Label10_11']{
    position: absolute !important;
   top: 231px !important;
left: 100px !important;
width: 55px !important;
height: 27px !important;
/* UI Properties */
color: var(--unnamed-color-a7cfff) !important;
text-align: right !important;
font: normal normal bold 16px/33px SWCC !important;
letter-spacing: 0.32px !important;
color: #A7CFFF !important;
}

[name='Picture4_a']{
    position: absolute !important;
   top: 137px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
background: transparent url('img/menu_investigations_icon_selected.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='Picture5_b']{
  position: absolute !important;

top: 301px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
  background: transparent url('img/menu_legal_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
}
[name='Picture6_c']{
    position: absolute !important;

top: 367px !important;
left: 1323px !important;
width: 28px !important;
height: 28px !important;
background: transparent url('img/menu_government_icon.png') 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
   
}

.panel-header {
   display: none !important;
}
